.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai
scripts/archive/*
content/revbayes* 
*.nex
!/data/input/Uapaca_range.nex
!/data/input/Uapaca_range_plastome.nex
*.fasta
history.txt
*.log
*.out
data/output/ancestral-areas-DEC/DEC*_nuc_stone_*.tre
/pygplates_venv
